  .field {
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    color: white;
  }

  h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    color: white;
  }

  .actions {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: white;
  }
