<div class="buttons">
  <div class="column button is-link">
    Hot Deals
  </div>
  <div class="column button is-link">
    New Products
  </div>
  <div class="column button is-link">
    Best Sellers
  </div>
</div>
<div class="flex-container">
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
</div>

<div style="text-align:center">
  <button class="button is-primary is-outlined is-medium is-rounded"><%= link_to 'All Products', products_index_path %></button>
</div>
