<div class="buttons">
  <div class="column button is-link">
    Hot Deals
  </div>
  <div class="column button is-link">
    New Products
  </div>
  <div class="column button is-link">
    Best Sellers
  </div>
</div>
<!-- Front page form to show only placeholder info at the moment but will be able to allow users to see any new products
or any products that are on special or any products that are loved by many -->
<!-- Added bulma onto the buttons to add some syling -->
<div class="flex-container">
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
  <div>
    <figure>
      <img src="https://bulma.io/images/placeholders/128x128.png">
      <p> Placeholder text</p>
      <p>Placeholder price$$$</p>
      <p> Placeholder text</p>
    </figure>
  </div>
</div>
<!-- Made a button that directs users to the main products page -->
<div style="text-align:center">
  <button class="button is-primary is-outlined is-medium is-rounded"><%= link_to 'All Products', products_index_path %></button>
</div>
