<%= render partial: 'navbar' %>
<section class="section">
    <div class="container">
      <h1 class="title">Welcome to Motorcycles R Us</h1>
      <h2 class="subtitle">
        A Marketplace for buying motorbike gear and parts. Made using Rails.
      </h2>
    </div>
</section>
<%= render partial: 'form' %>
<footer>&copy; Copyright 2019, Made by Nick Fletcher
</footer>
<!-- How my main page is set up -->
