<h1>Your Order</h1>
<!-- When you choose the products that you want to buy you'll be directed to this page so that you can buy it and then be redirected
to stripe using a button and javascript to make the button direct the user to stripe -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.name %></td>
      <td><%= @product.description %></td>
      <td><%= number_to_currency @product.price %></td>
    </tr>
  </tbody>
</table>
<!-- Added bulma to style the button -->
<button class="button is-info is-rounded" id="checkout">Checkout Now</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  let stripe = Stripe("pk_test_rXGWa2yhClYJ9dJ7o2V8rd9H00Z4NBPYTF");
  function checkout() {
    stripe
      .redirectToCheckout({
        sessionId: "<%= @session.id %>"
      })
      .then(result => alert(result));
  }
  document.querySelector("#checkout").addEventListener("click", checkout)
</script>
