<div class="buttons">
  <div class="column button is-link">
    Road
  </div>
  <div class="column button is-link">
    Dirt
  </div>
  <div class="column button is-link">
    Hard Parts
  </div>
</div>

<div class="columns is-multiline">
  <div class="column is-one-quater">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
</div>
