/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Indie Flower', cursive;
   min-height: 100vh;
   background: url(image_path("motorcycle_engine.jpg"));
   background-size: cover;
 }

 button {
   color: white;
 }


 .container {
   font-family: 'Indie Flower', cursive;
   font-size: 24px;
 }

 .section{
   text-align: center;
   .title {
     font-family: 'Indie Flower', cursive;
     color: red;
   }
   .subtitle {
     font-family: 'Indie Flower', cursive;
     color: red;
   }
 }

 .flex-container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-around;
  color: white;
 }

 footer{
   font-size: 24px;
   background-color: grey;
   padding-bottom: 0px;
 }



 $section-padding: 1rem 1.5rem;

 @import 'bulma'
